@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$background1: hsl(272, 100%, 10%);
$background2: hsl(272, 100%, 12%);
$background3: hsl(272, 100%, 15%);

$text: hsl(0, 0%, 100%);
$text-subtle: hsl(271, 100%, 90%);

$primary: hsl(272, 100%, 40%);
$secondary: hsl(272, 100%, 25%);

$accent-green1: hsl(165, 100%, 40%);
$accent-green2: hsl(165, 100%, 60%);
$accent-red1: hsl(330, 100%, 40%);
$accent-red2: hsl(330, 100%, 60%);

$special: hsl(30, 100%, 40%);

$h1-size: 3rem;
$h2-size: 2.2rem;
$h3-size: 1.6rem;
$h4-size: 1.6rem;

@mixin centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

:root {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 10px;
    background-color: $background1;
    color: $text;
}

/* main is a grid with left and right column taking 20% each and the middle column taking the rest */

h1 {
    font-size: $h1-size;
    font-weight: 700;
    margin: 2rem 0;
}

h2 {
    font-size: $h2-size;
    font-weight: 700;
    margin: 1rem 0;
}

h3 {
    font-size: $h3-size;
    margin: 0.5rem 0;
    font-weight: 400;
    color: $text-subtle;
}

h4 {
    font-size: $h4-size;
    margin: 0.5rem 0;
}

a {
    font-size: 1.6rem;
    color: $text-subtle;
    &:hover {
        color: $accent-red2;
    }
}

p {
    font-size: 1.6rem;
    margin: 0.25rem 0;
    line-height: 1.5;
}

input, textarea {
    margin-bottom: 2rem;
    background-color: $background3;
    border-style: none;
    border-radius: 10px;
    font: inherit;
    font-size: 1.6rem;
    color: var(--text);
    padding: 5px;
}

label {
    font-size: 1.6rem;
    margin-right: 0.5rem;
}

@mixin button-style($background-color: $secondary) {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
    font: inherit;
    font-size: 2rem;
    color: inherit;
    border: none;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}

button {
    @include button-style();
}

.nav-button {
    @include button-style();
    &:hover {
        color: $text;
    }
}

.primary-button {
    @include button-style($primary);
}

.positive-button {
    @include button-style($accent-green1);
}

.negative-button {
    @include button-style($accent-red1);
}

.mod-button {
    @include button-style($special);
}


@mixin inline-svg($size) {
    height: $size;
    width: auto;
}

.auth-form, .claim-form {
    @include centered();
}

.auth-button {
    padding: 1rem 3rem;
}

.wip-placeholder {
    color: $text-subtle;
    font-size: 1.4rem;
}